@import 'fonts/fonts'; // Basic Styles
@import 'style/style'; // Basic Styles
@import 'style/nullstyle'; // styles zeroing 
@import 'style/footer'; // styles footer 
@import 'style/body'; // styles body 
@import 'style/media'; // styles media 1024 / 768 / 378px
